/ === Footer ===
.footer
  .container
    .row
      .col-md-4.md-margin-bottom-40
        / About
        .headline
          %h2 About
        %p.margin-bottom-25.md-margin-bottom-40 Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.
        / Monthly Newsletter
        .headline
          %h2 Monthly Newsletter
        %p Subscribe to our newsletter and stay up to date with the latest news and deals!
        %form.footer-subsribe
          .input-group
            %input.form-control{placeholder: "Email Address", type: "text"}/
            %span.input-group-btn
              %button.btn-u{type: "button"} Subscribe
          / /input-group
      / /col-md-4
      .col-md-4.md-margin-bottom-40
        .posts
          .headline
            %h2 Recent Blog Entries
          %dl.dl-horizontal
            %dt
              %a{href: "#"}
                %img{alt: "", src: "assets/img/sliders/elastislide/6.jpg"}/
            %dd
              %p
                %a{href: "#"} Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template
          %dl.dl-horizontal
            %dt
              %a{href: "#"}
                %img{alt: "", src: "assets/img/sliders/elastislide/10.jpg"}/
            %dd
              %p
                %a{href: "#"} Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template
          %dl.dl-horizontal
            %dt
              %a{href: "#"}
                %img{alt: "", src: "assets/img/sliders/elastislide/11.jpg"}/
            %dd
              %p
                %a{href: "#"} Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template
      / /col-md-4
      .col-md-4
        / Monthly Newsletter
        .headline
          %h2 Contact Us
        %address.md-margin-bottom-40
          25, Lorem Lis Street, Orange
          %br/
          California, US
          %br/
          Phone: 800 123 3456
          %br/
          Fax: 800 123 3456
          %br/
          Email:
          %a{href: "mailto:info@anybiz.com"} info@anybiz.com
        / Stay Connected
        .headline
          %h2 Stay Connected
        %ul.social-icons
          %li
            %a.social_rss{"data-original-title" => "Feed", href: "#"}
          %li
            %a.social_facebook{"data-original-title" => "Facebook", href: "#"}
          %li
            %a.social_twitter{"data-original-title" => "Twitter", href: "#"}
          %li
            %a.social_googleplus{"data-original-title" => "Goole Plus", href: "#"}
          %li
            %a.social_pintrest{"data-original-title" => "Pinterest", href: "#"}
          %li
            %a.social_linkedin{"data-original-title" => "Linkedin", href: "#"}
          %li
            %a.social_vimeo{"data-original-title" => "Vimeo", href: "#"}
      / /col-md-4
    / /row
  / /container
/ /footer
/ === End Footer ===
/ === Copyright ===
.copyright
  .container
    .row
      .col-md-6
        %p.copyright-space
          2013 © Unify. ALL Rights Reserved.
          %a{href: "#"} Privacy Policy
          |
          %a{href: "#"} Terms of Service
      .col-md-6
        %a{href: "index.html"}
          %img#logo-footer.pull-right{alt: "", src: "assets/img/logo2-default.png"}/
    / /row
  / /container
/ /copyright
/ === End Copyright ===
/ JS Global Compulsory