.layer_slider
  #layerslider-container-fw
    #layerslider{style: "width: 100%; height: 500px; margin: 0px auto; "}
      / First Slide
      .ls-layer{style: "slidedirection: right; transition2d: 24,25,27,28; "}
        =image_tag('bg1.jpg', alt: 'slider background', class: 'ls-bg')
        
        %span.ls-s-1{style: " text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500; "}
          Internship Opportunities
          %br/
          All over the country
        %a.btn-u.btn-u-orange.ls-s1{href: new_user_registration_path, style: " padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
          Register Now
      / End First Slide
      / Second Slide
      .ls-layer{style: "slidedirection: top; "}
        =image_tag('bg2.jpg', alt: 'slider background 2', class: 'ls-bg')
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; "}
          Paid internships
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; "}
          Paid Projects
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; "}
          Short duration projects also available
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; "}
          Internships with leading organizations
        
        %a{href: new_user_registration_path}
          =image_tag('solo-student.jpg', alt: 'slider image', style: " top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ", class: 'ls-s-1' )
          
        
      / End Second Slide
/ /layer_slider
/ === End Slider ===
/ === Purchase Block ===
.purchase
  .container
    .row
      .col-md-9
        %span
          Edunable is a platform to provide internship to students in non-coventional fields
        %p Edunable is commited to find internship in areas which are usually ignored by the main stream platforms. We have exciting opportunities in areas like geography, economics, psychology. Most of these internships or projects are paid, are with some of the most notable organizations of the country.
      .col-md-3
        =link_to('Register Now', new_user_registration_path, class: 'btn-buy hover-effect')
/ /row
/ End Purchase Block
/ === Content Part ===
.container
  / Service Blocks
  .row.margin-bottom-10
    .col-md-4.service-alternative
      .service
        %i.icon-resize-small.service-icon
        .desc
          %h4 Paid Internships / Projects
          %p Almost all of our internships or projects are paid. We ensure that students get proper compensation for their work.
    .col-md-4.service-alternative
      .service
        %i.icon-cogs.service-icon
        .desc
          %h4 Certificates
          %p We provide you with proper accriditon for the work done by you, so that you can use it for future reference. 
    .col-md-4.service-alternative
      .service
        %i.icon-plane.service-icon
        .desc
          %h4 Training
          %p We help students acquire necessary skills to complete their internship. We organize workshops and training sessions for them, to do so.
  / /row
  / End Service Blokcs
  / Recent Works
  
/ /container
/ End Content Part

/ JS Implementing Plugins
=javascript_include_tag('unify/jquery.flexslider-min.js')
=javascript_include_tag('unify/jquery.bxslider.js')
=javascript_include_tag('unify/jquery-easing-1.3.js')
=javascript_include_tag('unify/jquery-transit-modified.js')
=javascript_include_tag('unify/layerslider.transitions.js')
=javascript_include_tag('unify/layerslider.kreaturamedia.jquery.js')

=javascript_include_tag('unify/app.js')
=javascript_include_tag('unify/index.js')
:javascript
  jQuery(document).ready(function() {
      App.init();
      App.initSliders();
      App.initBxSlider();
      Index.initLayerSlider();
  });
/[if lt IE 9]
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/layer_slider/assets/js/html5.js"></script>  