.layer_slider
  #layerslider-container-fw
    #layerslider{style: "width: 100%; height: 500px; margin: 0px auto; "}
      / First Slide
      .ls-layer{style: "slidedirection: right; transition2d: 24,25,27,28; "}
        %img.ls-bg{alt: "Slide background", src: "assets/img/sliders/layer/bg1.jpg"}/
        %img.ls-s-1{alt: "Slider Image", src: "assets/img/mockup/iphone1.png", style: " top:110px; left: 240px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 1500; "}/
        %img.ls-s-1{alt: "Slider image", src: "assets/img/mockup/iphone.png", style: " top:60px; left: 40px; slidedirection : left; slideoutdirection : bottom; durationin : 2500; durationout : 2500; "}/
        %span.ls-s-1{style: " text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 3500; durationout : 3500; "}
          Fully Responsive
          %br/
          Bootstrap 3 Template
        %a.btn-u.btn-u-orange.ls-s1{href: "#", style: " padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
          Download Now
      / End First Slide
      / Second Slide
      .ls-layer{style: "slidedirection: top; "}
        %img.ls-bg{alt: "Slide background", src: "assets/img/bg/5.jpg"}/
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; "}
          Fully Responsive and Easy to Customize
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; "}
          Revolution and Layer Slider Included
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; "}
          1000+ Glyphicons Pro and Font Awesome Icons
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; "}
          Revolution and Layer Slider Included
        %i.icon-chevron-sign-right.ls-s-1{style: " color: #fff; font-size: 24px; top:270px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "}
        %span.ls-s-2{style: " color: #fff; font-weight: 200; font-size: 22px; top:270px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; "}
          60+ Template Pages and 20+ Plugins Included
        %a.btn-u.btn-u-blue.ls-s1{href: "#", style: " padding: 9px 20px; font-size:25px; top:340px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; "}
          Twitter Bootstrap 3
        %img.ls-s-1{alt: "Slider Image", src: "assets/img/mockup/iphone1.png", style: " top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; "}/
      / End Second Slide
      / Third Slide
      .ls-layer{style: "slidedirection: right; transition2d: 92,93,105; "}
        %img.ls-bg{alt: "Slide background", src: "assets/img/sliders/layer/bg2.jpg"}/
        %span.ls-s-1{style: " color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; "}
          Unify is Fully Responsive
          %br/
          Twitter Bootstrap 3 Template
        %a.btn-u.btn-u-green.ls-s-1{href: "#", style: " padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; "}
          Find Out More
        %img.ls-s-1{alt: "Slider Image", src: "assets/img/mockup/iphone.png", style: " top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; "}/
      / End Third Slide
/ /layer_slider
/ === End Slider ===
/ === Purchase Block ===
.purchase
  .container
    .row
      .col-md-9
        %span
          Unify is a clean and fully responsive incredible Template.
        %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.
      .col-md-3
        %a.btn-buy.hover-effect{href: "#"} Purchase Now
/ /row
/ End Purchase Block
/ === Content Part ===
.container
  / Service Blocks
  .row.margin-bottom-10
    .col-md-4.service-alternative
      .service
        %i.icon-resize-small.service-icon
        .desc
          %h4 Fully Responsive
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
    .col-md-4.service-alternative
      .service
        %i.icon-cogs.service-icon
        .desc
          %h4 HTML5 + CSS3
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
    .col-md-4.service-alternative
      .service
        %i.icon-plane.service-icon
        .desc
          %h4 Launch Ready
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
  / /row
  / End Service Blokcs
  / Recent Works
  .row.margin-bottom-40
    .col-lg-12
      .headline
        %h2 Recent Works
      %ul.bxslider.recent-work
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/1.jpg"}/
            %span
              %strong Happy New Year
              %i Anim pariatur cliche reprehenderit
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/2.jpg"}/
            %span
              %strong Award Winning Agency
              %i Responsive Bootstrap Template
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/3.jpg"}/
            %span
              %strong Wolf Moon Officia
              %i Pariatur prehe cliche reprehrit
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/4.jpg"}/
            %span
              %strong Food Truck Quinoa Nesciunt
              %i Craft labore wes anderson cred
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/5.jpg"}/
            %span
              %strong Happy New Year
              %i Anim pariatur cliche reprehenderit
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/6.jpg"}/
            %span
              %strong Award Winning Agency
              %i Responsive Bootstrap Template
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/7.jpg"}/
            %span
              %strong Wolf Moon Officia
              %i Pariatur prehe cliche reprehrit
        %li
          %a{href: "#"}
            %em.overflow-hidden
              %img{alt: "", src: "assets/img/main/8.jpg"}/
            %span
              %strong Food Truck Quinoa Nesciunt
              %i Craft labore wes anderson cred
  / /row
  / End Recent Works
  / Info Blokcs
  .row.margin-bottom-10
    / Welcome Block
    .col-md-8
      .headline
        %h2 Welcome To Unify
      .row
        .col-sm-4
          %img.img-responsive.margin-bottom-20{alt: "", src: "assets/img/new/img15.jpg"}/
        .col-sm-8
          %p Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.
          %ul.list-unstyled.margin-bottom-20
            %li
              %i.icon-ok.color-green
              Donec id elit non mi porta gravida
            %li
              %i.icon-ok.color-green
              Corporate and Creative
            %li
              %i.icon-ok.color-green
              Responsive Bootstrap Template
            %li
              %i.icon-ok.color-green
              Corporate and Creative
      %blockquote.hero-unify
        %p Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.
        %small CEO, Jack Bour
    / /col-md-8
    / Latest Shots
    .col-md-4
      .headline
        %h2 Latest Shots
      #myCarousel.carousel.slide.carousel-v1
        .carousel-inner
          .item.active
            %img{alt: "", src: "assets/img/main/5.jpg"}/
            .carousel-caption
              %p Facilisis odio, dapibus ac justo acilisis gestinas.
          .item
            %img{alt: "", src: "assets/img/main/4.jpg"}/
            .carousel-caption
              %p Cras justo odio, dapibus ac facilisis into egestas.
          .item
            %img{alt: "", src: "assets/img/main/3.jpg"}/
            .carousel-caption
              %p Justo cras odio apibus ac afilisis lingestas de.
        .carousel-arrow
          %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel"}
            %i.icon-angle-left
          %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel"}
            %i.icon-angle-right
    / /col-md-4
  / /row
  / End Info Blokcs
  / Our Clients
  #clients-flexslider.flexslider.home.clients
    .headline
      %h2 Our Clients
    %ul.slides
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/hp_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/hp.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/igneus_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/igneus.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/vadafone_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/vadafone.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/walmart_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/walmart.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/aztec_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/aztec.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cisco_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cisco.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/cocacola_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/cocacola.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/shell_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/shell.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/natural_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/natural.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/gamescast_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/gamescast.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/everyday_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/everyday.png"}/
      %li
        %a{href: "#"}
          %img{alt: "", src: "assets/img/clients/spinworkx_grey.png"}/
          %img.color-img{alt: "", src: "assets/img/clients/spinworkx.png"}/
  / /flexslider
  / End Our Clients
/ /container
/ End Content Part

:javascript
  jQuery(document).ready(function() {
    	App.init();
      App.initSliders();
      App.initBxSlider();
      Index.initLayerSlider();
  });
/[if lt IE 9]
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/layer_slider/assets/js/html5.js"></script>